<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/dashboard.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="navbar">
            <div class="user_info">
                <h4>
                    Hello User!
                </h4>
                <h4>
                    <a href="#">Redeem Rewards</a>
                </h4>
                <h4>
                    Progress to Next Milestone: 44/50
                </h4>
            </div>
            <div class="title">
                <h1>Math Master</h1>
            </div>
            <div class="logout">
                <a href="/logout" class="logout">Logout</a>
            </div>
        </div>
        <div class="body">
            <div id="body">
                <h2 class="grade">Pick Your Grade!</h2>
                <div class="body_section">
                    <div class="grades">
                        <h2>1st Grade</h2>
                        <h2>2nd Grade</h2>
                        <h2>3rd Grade</h2>
                        <h2>4th Grade</h2>
                    </div>
                    <div class="topics">
                        <div class="topics_section">
                            <a class="topic" href="{{ url_for('view_problem', id = 0) }}">Addition</a>
                            <a class="topic" href="{{ url_for('view_problem', id = 1) }}">Subtraction</a>
                            <a class="topic" href="#" style="cursor:default"></a>
                            <a class="topic" href="#" style="cursor:default"></a>
                        </div>
                        <div class="topics_section">
                            <a class="topic" href="{{ url_for('view_problem', id = 0) }}">Addition</a>
                            <a class="topic" href="{{ url_for('view_problem', id = 1) }}">Subtraction</a>
                            <a class="topic" href="{{ url_for('view_problem', id = 102) }}">Minutes to Hours</a>
                            <a class="topic" href="#" style="cursor:default"></a>
                        </div>
                        <div class="topics_section">
                            <a class="topic" href="{{ url_for('view_problem', id = 96) }}">Perimeter</a>
                            <a class="topic" href="{{ url_for('view_problem', id = 2) }}">Multiplication</a>
                            <a class="topic" href="{{ url_for('view_problem', id = 3) }}">Division</a>
                            <a class="topic" href="#" style="cursor:default"></a>
                        </div>
                        <div class="topics_section">
                            <a class="topic" href="{{ url_for('view_problem', id = 90) }}">Prime Numbers</a>
                            <a class="topic" href="{{ url_for('view_problem', id = 124) }}">Composite Numbers</a>
                            <a class="topic" href="{{ url_for('view_problem', id = 40) }}">Common Factors</a>
                            <a class="topic" href="#" style="cursor:default"></a>
                        </div>
                    </div>
                </div>
                <div class="body_section">
                    <div class="grades">
                        <h2>5th Grade</h2>
                        <h2>6th Grade</h2>
                        <h2>7th Grade</h2>
                        <h2>8th Grade</h2>
                    </div>
                    <div class="topics">
                        <div class="topics_section">
                            <a class="topic" href="{{ url_for('view_problem', id = 28) }}">Multiply Fractions</a>
                            <a class="topic" href="{{ url_for('view_problem', id = 16) }}">Divide Fractions</a>
                            <a class="topic" href="#" style="cursor:default"></a>
                            <a class="topic" href="#" style="cursor:default"></a>
                        </div>
                        <div class="topics_section">
                            <a class="topic" href="{{ url_for('view_problem', id = 80) }}">Percents</a>
                            <a class="topic" href="{{ url_for('view_problem', id = 123) }}">Surface Area of Pyramid</a>
                            <a class="topic" href="{{ url_for('view_problem', id = 13) }}">Fractions to Decimals</a>
                            <a class="topic" href="#" style="cursor:default"></a>
                        </div>
                        <div class="topics_section">
                            <a class="topic" href="{{ url_for('view_problem', id = 34) }}">Surface Area of Cylinder</a>
                            <a class="topic" href="{{ url_for('view_problem', id = 122) }}">Volume of Pyramid</a>
                            <a class="topic" href="{{ url_for('view_problem', id = 13) }}">Fraction to Decimal</a>
                            <a class="topic" href="#" style="cursor:default"></a>
                        </div>
                        <div class="topics_section">
                            <a class="topic" href="{{ url_for('view_problem', id = 58) }}">Sum of Angles of Polygons</a>
                            <a class="topic" href="{{ url_for('view_problem', id = 22) }}">Angles of Triangles</a>
                            <a class="topic" href="{{ url_for('view_problem', id = 53) }}">Exponentiation</a>
                            <a class="topic" href="{{ url_for('view_problem', id = 61) }}">Volume of Spheres</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="leaderboard">
            
        </div>
    </div>
</body>
</html>