<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/dashboard.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="navbar">
            <div class="user_info">
                <h4>
                    Hello {{ user.first_name }}!
                </h4>
                <h4>
                    <a href="/rewards">Redeem Points</a>
                </h4>
                <h4>
                    Title Swaps Available: {{user.milestones}}
                </h4>
                <h4>
                    Progress to Next Milestone: {{ user.tracked_points }}/{{ milestone }}
                </h4>
            </div>
            <div class="title_of_app">
                <h1 class="shimmer-text">Math Master</h1>
            </div>
            <div class="logout">
                <a href="/delete" id="logout">Delete Account</a>
                <a href="/logout" id="logout">Logout</a>
            </div>
        </div>
        <div class="body">
            <div id="body">
                <h2 class="grade">Pick Your Grade!</h2>
                <div class="body_section">
                    <div class="grades">
                        <h2>1st Grade</h2>
                        <h2>2nd Grade</h2>
                        <h2>3rd Grade</h2>
                        <h2>4th Grade</h2>
                    </div>
                    <div class="topics">
                        <div class="topics_section">
                            <a class="topic" href="{{ url_for('view_problem', id = 0) }}">Addition</a>
                            <a class="topic" href="{{ url_for('view_problem', id = 1) }}">Subtraction</a>
                            <a class="topic" href="#" style="cursor:default"></a>
                            <a class="topic" href="#" style="cursor:default"></a>
                        </div>
                        <div class="topics_section">
                            <a class="topic" href="{{ url_for('view_problem', id = 0) }}">Addition</a>
                            <a class="topic" href="{{ url_for('view_problem', id = 1) }}">Subtraction</a>
                            <a class="topic" href="{{ url_for('view_problem', id = 102) }}">Minutes to Hours</a>
                            <a class="topic" href="#" style="cursor:default"></a>
                        </div>
                        <div class="topics_section">
                            <a class="topic" href="{{ url_for('view_problem', id = 96) }}">Perimeters</a>
                            <a class="topic" href="{{ url_for('view_problem', id = 2) }}">Multiplication</a>
                            <a class="topic" href="{{ url_for('view_problem', id = 3) }}">Division</a>
                            <a class="topic" href="#" style="cursor:default"></a>
                        </div>
                        <div class="topics_section">
                            <a class="topic" href="{{ url_for('view_problem', id = 90) }}">Prime Numbers</a>
                            <a class="topic" href="{{ url_for('view_problem', id = 124) }}">Composite Numbers</a>
                            <a class="topic" href="{{ url_for('view_problem', id = 40) }}">Common Factors</a>
                            <a class="topic" href="#" style="cursor:default"></a>
                        </div>
                    </div>
                </div>
                <div class="body_section">
                    <div class="grades">
                        <h2>5th Grade</h2>
                        <h2>6th Grade</h2>
                        <h2>7th Grade</h2>
                        <h2>8th Grade</h2>
                    </div>
                    <div class="topics">
                        <div class="topics_section">
                            <a class="topic" href="{{ url_for('view_problem', id = 28) }}">Multiply Fractions</a>
                            <a class="topic" href="{{ url_for('view_problem', id = 16) }}">Divide Fractions</a>
                            <a class="topic" href="{{ url_for('view_problem', id = 44) }}">Compare Fractions</a>
                            <a class="topic" href="{{ url_for('view_problem', id = 13) }}">Fractions to Decimals</a>
                        </div>
                        <div class="topics_section">
                            <a class="topic" href="{{ url_for('view_problem', id = 80) }}">Percents</a>
                            <a class="topic" href="{{ url_for('view_problem', id = 123) }}">Surface Area of Pyramids</a>
                            <a class="topic" href="{{ url_for('view_problem', id = 13) }}">Fractions to Decimals</a>
                            <a class="topic" href="#" style="cursor:default"></a>
                        </div>
                        <div class="topics_section">
                            <a class="topic" href="{{ url_for('view_problem', id = 34) }}">Surface Area of Cylinders</a>
                            <a class="topic" href="{{ url_for('view_problem', id = 122) }}">Volume of Pyramids</a>
                            <a class="topic" href="{{ url_for('view_problem', id = 13) }}">Fractions to Decimals</a>
                            <a class="topic" href="#" style="cursor:default"></a>
                        </div>
                        <div class="topics_section">
                            <a class="topic" href="{{ url_for('view_problem', id = 58) }}">Sum of Angles of Polygons</a>
                            <a class="topic" href="{{ url_for('view_problem', id = 22) }}">Angles of Triangles</a>
                            <a class="topic" href="{{ url_for('view_problem', id = 53) }}">Exponentiation</a>
                            <a class="topic" href="{{ url_for('view_problem', id = 61) }}">Volume of Spheres</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="leaderboard">
            
            <table>
                    <tr>
                        <td>Name</td>
                        <td>Points</td>
                        <td>Title</td>
                    </tr>
                {% for user in users %}
                    <tr>
                        {% if user.tracked_points >= 500 %}
                        <td class="shimmer-text">{{ user.first_name }} {{ user.last_name }}</td>
                        <td class="shimmer-text">{{ user.tracked_points }}</td>
                        <td class="shimmer-text">{{ user.title }}</td>
                        {% else %}
                        <td>{{ user.first_name }} {{ user.last_name }}</td>
                        <td>{{ user.tracked_points }}</td>
                        <td>{{ user.title }}</td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>
                    
            
        </div>
    </div>
</body>
</html>