<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="container">
        <div class="title">
            <h1 class="shimmer-text">Math Master</h1>
        </div>
        {% with messages = get_flashed_messages() %}
            {% if messages%}
                {% for message in messages %}
                    <p>{{message}}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <div class="body">
            <div class="register">
                <h1>Register</h1>
                <form action="/register" method="POST">
                    <div class="labels">
                        <label for="first_name">First Name: </label>
                        <label for="last_name">Last Name: </label>
                        <label for="email">Email: </label>
                        <label for="password">Password</label>
                        <label for="confirm_password">Confirm PW: </label>
                    </div>
                    <div class="inputs">
                        <input type="text" name="first_name" autocomplete="chrome-off">
                        <input type="text" name="last_name" autocomplete="chrome-off">
                        <input type="email" name="email" autocomplete="chrome-off">
                        <input type="password" name="password" autocomplete="chrome-off">
                        <input type="password" name="confirm_password" autocomplete="chrome-off">
                        <input type="hidden" name="tracked_points" value="0" autocomplete="chrome-off">
                        <input type="submit" id="button" value="Register">
                    </div>
                </form>
            </div>
            <div class="login">
                <h1>Login</h1>
                <form action="/login" method="POST">
                    <div class="labels">
                        <label for="email">Email: </label>
                        <label for="password">Password: </label>
                    </div>
                    <div class="inputs">
                        <input type="email" name="email"autocomplete="chrome-off">
                        <input type="password" name="password" autocomplete="chrome-off">
                        <input type="submit" id="button" value="Login">
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>